<div class="reviewsetupcontainer">
    <div class="reviewsetupheader">
        Aspect Setup
    </div>
    <div class="reviewsetuppage">
        <p-accordion>
            <p-accordionTab header="Tools">
                <div class="customaccordiontabcls">
                    <div class="addbtncontainer">
                        <button class="addbtncls" (click)="showAddDeptDialog()"> + Add </button>
                    </div>
                    <div class="datagridcls">
                        <div class="datagridbody">
                            <p-dataTable [value]="transactions" selectionMode="single" [(selection)]="selectedDept"
                                (onRowSelect)="showEditDeptDailog()"
                            >
                                <p-column field="item" header="Aspect Items"></p-column>
                                <p-column field="usedby" header="Used By"></p-column>
                                <p-column field="updatedby" header="Last Updated By"></p-column>
                                <p-column field="updatedon" header="Last Updated On"></p-column>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Protocols / Domain Expertise">
                Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
            </p-accordionTab>
            <p-accordionTab header="Programming Languages / OS">
                <div class="customaccordiontabcls">
                    <div class="addbtncontainer">
                        <button class="addbtncls" (click)="showAddDeptDialog()"> + Add </button>
                    </div>
                <div class="datagridcls">

                    <p-table [value]="employees">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of cols">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-employee>
                            <tr>
                                <td *ngFor="let col of cols; let i = index;">
                                    <div *ngIf="i==0;else other_content" (click)="editDailogDisplay=true" class="celldatacls">
                                            {{employee[col.field]}}
                                    </div>
                                    <ng-template #other_content>
                                        <div class="celldatacls">
                                            {{employee[col.field]}}
                                        </div>
                                    </ng-template>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>

        <p-dialog header="Add Department" [(visible)]="addDailogDisplay" [modal]="true" [responsive]="true" 
            [width]="500" [minWidth]="200" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
            <div class="dialogpagecls">
                <div class="controlcls">
                    <label style="width: 40%;"> Aspect  </label> <label style="width: 60%;"> Tools</label>
                </div>
                <div class="controlcls">
                    <label style="width: 40%;"> Aspect Item </label> <input class="dialogpageinputcls" type="text" name="aitem" id="aitem"/>
                </div>
            </div>
            <p-footer>
                <button class="addbtncls" (click)="addDailogDisplay=false">Save</button>
                <button class="addbtncls" (click)="addDailogDisplay=false">Cancel</button>
            </p-footer>
        </p-dialog>

        <p-dialog header="Edit Department" [(visible)]="editDailogDisplay" [modal]="true" [responsive]="true" 
            [width]="500" [minWidth]="200" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
            <div class="dialogpagecls">
                <div class="controlcls">
                    <label style="width: 40%;"> Aspect</label> <label style="width: 60%;"> Tools</label>
                </div>
                <div class="controlcls">
                    <label style="width: 40%;"> Aspect Item </label> <input class="dialogpageinputcls" type="text" name="aitem" id="aitem"/>
                </div>
            </div>
            <p-footer>
                <button class="addbtncls" (click)="editDailogDisplay=false">Save</button>
                <button class="addbtncls" (click)="editDailogDisplay=false">Cancel</button>
            </p-footer>
        </p-dialog>
    </div>
</div>
